.shift {
    position: relative;
    top: 10px;
    left: 15px;
}

#exercise-1 {
    padding-left: 100px;
    border: 1px solid black;
}

#image-container {
    position: relative;
    width: 604px;
    border: 1px solid red;
}

#caption {
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    font-size: 125%;
    top: 135px; 
    left: 200px;
}


/*
#exercise-3 {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

#sidebar {
    float: left;
    width: 175px;
}

#sidebar p {
    font-weight: bold;
}

#content {
    width: 700px;
    float: left;
    margin-left: 195px;
}

#footer {
    clear: both;
    text-align: center;
}
*/